<a href="https://colab.research.google.com/github/9marchshubham/Resume_1.2/blob/master/consolidation_files.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import os

In [2]:
import pandas as pd

In [3]:
cwd = os.path.abspath('')

In [4]:
files = os.listdir(cwd)

In [5]:
cwd

'/content'

In [6]:
files

['.config',
 'WAVE I_GF_Tarun_01-04-2021.xlsx',
 'WAVE I_GF_Astha_01-04-2021.xlsx',
 'WAVE I_GF_Aman_01-04-2021.xlsx',
 'WAVE I_GF_Ali_01-04-2021.xlsx',
 'output',
 '.ipynb_checkpoints',
 'sample_data']

In [7]:
df = pd.DataFrame()
for file in files:
     if file.endswith('.xlsx'):
            df = df.append(pd.read_excel(file), ignore_index=True, sort=False) 
df.head()

       Xeeva_Id ENR_CRITERIA* ENR_MFR_NAME*  ...  ENR_SPECS* QC_DATE ENR_OWNER
0  Wave1_136314      Accepted      WAUKESHA  ...         NaN     NaN       NaN
1  Wave1_146766      Rejected           NaN  ...         NaN     NaN       NaN
2  Wave1_146769      Rejected           NaN  ...         NaN     NaN       NaN
3  Wave1_146758      Rejected           NaN  ...         NaN     NaN       NaN
4  Wave1_146770      Rejected           NaN  ...         NaN     NaN       NaN

[5 rows x 25 columns]

In [8]:
df.shape

(440, 25)

In [9]:
df.shape

(440, 25)

In [10]:
coloumn_names = ["Xeeva_Id","ENR_CRITERIA*","ENR_MFR_NAME*","ENR_MFR_PART*","ENR_SUPPLIER_NAME*","ENR_SUPPLIER_PART*","INPUT_PART","ENR_NOUN*","ENR_MODIFIER","ENR_SPECS*","ENR_ITEM_NAME","ENR_BREADCRUMB","ENR_URL*","ENR_STATUS*","ENR_COMMENTS*","QC_Rejection_Comments","ENR_UNSPSC","ENR_IU_ID(VDM Cases)","ENR_DATASOURCE*","ENR_MANUAL_QC*","DATE*","OWNER"]

In [11]:
df = df.reindex(columns = coloumn_names)

In [12]:
for file in files:
     if file.endswith('.xlsx'):
            os.remove(file)

In [13]:

writer = pd.ExcelWriter('output/combined_file1.xlsx',date_format = 'dd-mm-yyyy',datetime_format='dd-mm-yyyy',options={'strings_to_urls': False})
df.to_excel(writer, index=False)
writer.close()